<div class="base" style="background-color: #ffffff; justify-content: center">
<!--  <div #key class="key" (click)="keyPress(b)">~</div>-->
<!--  <div #b class="key" (click)="keyPress(b)">1</div>-->
<!--  <div #key class="key" (click)="keyPress(key)">2</div>-->
<!--  <div #key class="key" (click)="keyPress(key)">3</div>-->
<!--  <div #key class="key" (click)="keyPress(key)">4</div>-->
<!--  <div #key class="key" (click)="keyPress(key)">5</div>-->
<!--  <div #key class="key" (click)="keyPress(key)">6</div>-->
<!--  <div #key class="key" (click)="keyPress(key)">7</div>-->
<!--  <div #key class="key" (click)="keyPress(key)">8</div>-->
<!--  <div #key class="key" (click)="keyPress(key)">9</div>-->
<!--  <div #key class="key" (click)="keyPress(key)">0</div>-->
<!--  <div #key class="key" (click)="keyPress(key)">-</div>-->
<!--&lt;!&ndash;  <div #key class="key" (click)="keyPress(key)">+</div>&ndash;&gt;-->
<!--  <div #key class="key delete">Delete</div>-->
  <div class="key tab"></div>
  <div #key #q id="Q" class="key" (click)="keyPress(q)">Q</div>
  <div #key class="key" (click)="keyPress(key)">W</div>
  <div #key class="key" (click)="keyPress(key)">E</div>
  <div #key class="key" (click)="keyPress(key)">R</div>
  <div #key class="key" (click)="keyPress(key)">T</div>
  <div #key class="key" (click)="keyPress(key)">Y</div>
  <div #key class="key" (click)="keyPress(key)">U</div>
  <div #key class="key" (click)="keyPress(key)">I</div>
  <div #key class="key" (click)="keyPress(key)">O</div>
  <div #key class="key" (click)="keyPress(key)">P</div>
  <div #key class="key delete" (click)="keyPress(key)">Backspace</div>
<!--  <div #key class="key" (click)="keyPress(key)">]</div>-->
<!--  <div #key class="key backslash">\</div>-->
  <div class="key capslock"></div>
  <div #key #a class="key" (focus)="keyPress(a)">A</div>
  <div #key class="key" (click)="keyPress(key)">S</div>
  <div #key class="key" (click)="keyPress(key)">D</div>
  <div #key class="key" (click)="keyPress(key)">F</div>
  <div #key class="key" (click)="keyPress(key)">G</div>
  <div #key class="key" (click)="keyPress(key)">H</div>
  <div #key class="key" (click)="keyPress(key)">J</div>
  <div #key class="key" (click)="keyPress(key)">K</div>
  <div #key class="key" (click)="keyPress(key)">L</div>
  <div #key class="key" (click)="keyPress(key)">;</div>
  <div #key class="key" (click)="keyPress(key)">'</div>
  <div #key class="key return">Enter</div>
  <div #key class="key leftshift">Shift</div>
  <div #key class="key" (click)="keyPress(key)">Z</div>
  <div #key class="key" (click)="keyPress(key)">X</div>
  <div #key class="key" (click)="keyPress(key)">C</div>
  <div #key class="key" (click)="keyPress(key)">V</div>
  <div #key class="key" (click)="keyPress(key)">B</div>
  <div #key class="key" (click)="keyPress(key)">N</div>
  <div #key class="key" (click)="keyPress(key)">M</div>
  <div #key class="key" (click)="keyPress(key)">,</div>
  <div #key class="key" (click)="keyPress(key)">.</div>
  <div #key class="key" (click)="keyPress(key)">?</div>
  <div #key class="key" (click)="keyPress(key)">!</div>
  <div class="key" (click)="keyPress(key)"></div>
<!--  <div #key class="key rightshift">Shift</div>-->
  <div #key class="key leftctrl"></div>
<!--  <div #key class="key command"><i class="fab fa-windows"></i></div>-->
  <div #key class="key command"></div>
<!--  <div #key class="key fn"></div>-->
  <div #key class="key" (click)="keyPress(key)"></div>
  <div #key class="key space col" >Space</div>
  <div #key class="key gr col" ></div>
<!--  <div #key class="key command"><i class="fas fa-file-alt"></i></div>-->
  <div #key class="key" (click)="keyPress(key)">(</div>
  <div #key class="key" (click)="keyPress(key)">)</div>
  <div class="key" (click)="keyPress(key)"></div>
</div>
