<!--Bootstrap and Fontawesome is setup-->
<!--<div class="row" style="margin-top: 50px">-->
<!--  <div class="col offset-1">-->
<!--    <p>Successfully created a new project <i class="fa-brands fa-github"></i></p>-->
<!--  </div>-->
<!--</div>-->

<!--<html>-->
<!--  <div class="container-fluid darkmode" style="height: 100vh">-->
<!--    <app-header class="darkmode"></app-header>-->
<!--    <div class="darkmode" style="margin-top: 200px">-->
<!--      <app-text class="darkmode"></app-text>-->
<!--    </div>-->

<!--    <div class="darkmode">-->
<!--      <app-keyboard class="darkmode"></app-keyboard>-->
<!--    </div>-->
<!--  </div>-->
<!--</html>-->

<html>
<div [ngClass]="colorMode ? 'darkmode' : 'lightmode'" class="container-fluid darkmode" style="height: 100vh">
  <app-header class=""></app-header>
  <div class="" style="margin-top: 200px">
    <app-text class=""></app-text>
  </div>

  <div class="">
    <app-keyboard class=""></app-keyboard>
  </div>
</div>
</html>

