

<div class="container-sm">
  <div class="d-flex flex-wrap" style="justify-content: center">
<!--    TODO: Make the words the columns rather than the letters-->

    <div *ngFor="let word of words" class="p" style="background-color: #ffffff">

      <div class="d-flex" style="padding-left: 0">
        <div #letter *ngFor="let letter of word" class="p" style="padding-bottom: 0">
          <span style="margin-bottom: 0">{{letter}}</span>
        </div>
        <p #letter style="margin-bottom: 0">&nbsp;</p>
      </div>

      </div>


  </div>
</div>
